.ht_ticker {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.ht_ticker span.title {
	float: left;
	min-width: 100px;
	max-width: 200px;
	padding: 3px 10px;
	height: 100%;
	margin-right: 10px;
}


.ht_ticker ul {}
.ht_ticker ul li {list-style: none; padding: 3px 25px;}
.ht_ticker ul li a {text-decoration: none; font-size: 13px;}